@media screen and (min-width: 768px) {
    :root {
        --font-family: 'Roboto', sans-serif;
        --background-2: #fcc713ff;
        --background-1: #2b3d91;
    
    }
    
    *{
        font-family: var(--font-family);
        
        
    }

    .parent {
        display: grid;
        grid-template: auto 1fr 1fr 1fr auto / auto 1fr auto;
        height: 100vh;
    }

    main {
        display: contents;
    }

    header {
        grid-row: 1;
        grid-column: 1 / -1;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    nav {
        width: auto;
    }

    nav ul {
        display: flex;
        justify-content: flex-start;
    }

    .total, .graphic, .ranking {
        background-color: var(--background-2);
        padding: 1rem;
        margin: 0;
    }

    .total {
        grid-row: 2;
        grid-column: 1 / -1;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
    }

    .total div {
        width: 15rem;
        height: 100%;
        text-align: center;
        font-weight: 800;
    }

    .graphic {
        grid-row: 3;
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .graphic div {
        width: 100%;
        height: 10rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        background-color: white;
        color: var(--background-1);
        border-radius: 8px;
        text-align: center;
        font-weight: 700;
        
    
    }



   .ranking {
        grid-row: 4;
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: 1fr 1fr;
    
    }

    footer {
        grid-row: 5;
        grid-column: 1 / -1;
    }

    .logo img {
        max-width: 200px;
        height: auto;
    }
    
    .logo h1 {
        font-weight: 400;
        color: white;
        font-size: 2rem;
        text-align: center;
        margin: 0;
    }

    .hamburger {
        background: none;
        border: none;
        color: var(--background-2);
        font-size: 2rem;
        cursor: pointer;
        padding: 0 0.5rem;
      }
      
      .main-menu {
        display: none;
        flex-direction: column;
        gap: 0.5rem;
        padding: 0.5rem;
        background-color: var(--background-1);
        border-radius: 6px;
      }
      
      .main-menu.show {
        display: flex;
      }
      
      .main-menu a {
        color: var(--background-2);
        text-decoration: none;
        font-weight: 700;
      }
      
      .extra {
        margin: 2rem auto;      /* mais respiro no desktop */
        grid-column: 1 / -1;
      }
    
      


    }